body {
    color: #2d2a2a;
    background: #e5e5e5;
    text-align: center;
    padding-top: 60px;
    -webkit-font-smoothing: antialiased;
}
p {
    font-size: 18px;
}
body, h1, h2, h3, h4 {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.5);
    font-weight: 300;
}
h1, h2 {
    margin: 0;
    font-size: 28px;
}
h3 {
    font-size: 18px;
}
.logo {
    margin: 0 0 30px;
}
.lead {
    margin: auto;
    padding: 0;
}
.lead h1 {
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    line-height: 1.4em;
    margin-top: 15px;
}
.lead strong {
    font-weight: 400;
}
.btn {
    padding: 10px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    border: 0;
    opacity: 0.95;
    border-radius: 3px;
    font-weight: 400;
}
.btn:hover {
    opacity: 1;
}
.btn-apply {
    background: #ef5c4c;
    color: white;
}
.btn-apply:hover, .btn-apply:focus, .btn-apply:active {
    background: #ef5c4c;
    color: white;
}
.btn-primary {
    background: #55A76F;
    color: white;
    font-weight: 400;
    padding: 20px 40px;
    font-size: 22px;
    text-shadow: 0 -1px 0 rgba(16, 71, 21, 0.5);
    margin-top: 20px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #55A76F;
    color: white;
}
.cta {
    border-radius: 5px 0 0 5px;
    padding: 4vmin;
    background: #F1F1F1;
}
.cta .disclaimer {
    padding: 0 100px;
}
.cta .or {
    margin-top: 52px;
}
.footer {
    margin: auto;
    width: 400px;
    padding: 30px;
}
.footer .btn {
    margin: 10px;
}
.footer .c {
}
.footer a {
    color: inherit;
}
.footer .c img {
    margin-top: 20px;
}
.lines-on-sides {
  line-height: 0.5;
  text-align: center;
  padding: 30px;
}
.lines-on-sides span {
  display: inline-block;
  position: relative;
}
.lines-on-sides span:before,
.lines-on-sides span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #CBCBCB;
  top: 0;
  width: 30px;
}
.lines-on-sides span:before {
  right: 100%;
  margin-right: 15px;
}
.lines-on-sides span:after {
  left: 100%;
  margin-left: 15px;
}
.sorry .btn-apply {
    margin-top: 30px;
}
input {
    font-size: 16px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-weight: 300;
    color: #2d2a2a;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    outline: 0;
    box-shadow: none;
}
input:active, input:focus {
    border-color: #39b3d7;
    outline: 0;
    box-shadow: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.error {
    font-weight: 400;
    padding-top: 5px;
}
.main {
    margin-top: 6vmin;
}
.main > .row {
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
}
.maintenance img.logo {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.tos-content {
    width: 640px;
    padding: 20px 50px 50px;
    border: 1px solid #E0E0E0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.tos-content .lines-on-sides span {
    border-color: #ccc;
}
.tos-content h2 {
    font-weight: bold;
    font-size: 42px;
    color: #ccc;
    text-shadow: none;
    line-height: 5px;
    /* padding-bottom: 40px; */
    /* border-bottom: 1px dashed #E0E0E0; */
}
.tos-content h3 {
    text-align: left;
    font-weight: normal;
    font-size: 22px;
    margin-top: 30px;
}
.tos-content p {
    text-align: left;
    font-size: 16px;
}
.login-page h2 {
    margin-bottom: 2vmin;
}
.login-page .help {
    padding: 4vmin;
}
.login-page .help p {
    font-size: 16px;
}
.login-page .cta h2 {

}
/*.btn-public {
  color: #ffffff;
  background-color: #00a7ed;
  border-color: #00a0e3;
}
.btn-public:hover,
.btn-public:focus,
.btn-public:active,
.btn-public.active {
  color: #ffffff;
  background-color: #008ac4;
  border-color: #0075a6;
}*/