body {
    background-color: #E5E5E5;
    color: #7e8ab0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}
p {
    font-size: 18px;
}
body, h1, h2, h3, h4 {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.5);
    font-weight: 300;
}
h1, h2 {
    margin: 0;
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
.maintenance {
    background-color: white;
    overflow: hidden;
    padding-top: 35px;
    text-align: center;
}
.maintenance .maintenance-header {
    margin-bottom: 30px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    line-height: 1.4em;
    margin-top: 15px;
}
.maintenance-img {
    display: inline-block;
    max-width: 80%;
}
@media (max-width: 768px) {
    .maintenance-img {
        max-width: none;
        margin-left: -50%;
        width: 200%;
    }
}
.footer {
    padding: 30px;
    text-align: center;
}
