script#bootstrap-modal-template(type='text/template')
    .modal.fade(tabindex="-1", role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.fa.fa-times.close(type="button", data-dismiss="modal", title="Close")
                    .header
                        h1
                            | <%= title %>
                        p
                            | <%= subtitle %>
                .modal-body
                    .modal-body-content
                    .modal-alerts

script#add-workspace-form-template(type='text/template')
    input#name.primary(placeholder='Name the workspace', name='name', type='text')
    input#description(placeholder='Add a description or extra details (optional)', name='description', type='text')
    h2 Select at least one repository. You can add more now later.
    .projects

script#workspace-not-found(type='text/template')
    h1
        i.ov.ov-logo
        |  Dear, oh, dear!
    h2
        | We are terribly sorry but
        strong  we seem to be unable to find a project by that address.

    ul
        li Perchance you got that URL from an acquaintance of yours who forgot to mention that projects are a matter of utter privacy?
        li Maybe you were careless enough to dismiss said project into oblivion using another computing machine or a different browser tab to delete it?
        li Could it be that the address was simply malformed by a pesky cat attempting to nap in the middle of your keyboard? Or were you trying to copy the address from a napkin?

    p
        strong ← In any case, choose one of your existing projects on the left and carry on with your work.

script#keyboard-help(type='text/template')
    h2 General
    .entry
        .left
            .shortcut
                span.key C
        |  → Compose a new issue in the preferred mode (see settings)
    .entry
        .left
            .shortcut
                span.key Shift
                | &nbsp; + &nbsp;
                span.key C
        |  → Compose a new issue in the alternate mode
    .entry
        .left
            .shortcut
                span.key S
            | &nbsp; or &nbsp;
            .shortcut
                span.key /
        |  → Search
    .entry
        .left
            .shortcut
                span.key Ctrl
                | &nbsp; + &nbsp;
                span.key Enter
        |  → Submit a form
    .entry
        .left
            .shortcut
                span.key Escape
        |  → Escape filtering mode
    .entry
        .left
            .shortcut
                span.key Q
        |  → Filter your issues
    .entry
        .left
            .shortcut
                span.key ?
        |  → Show this help

    h2 Issue details
    .entry
        .left
            .shortcut
                span.key Left Arrow
        |  → Show previous issue
    .entry
        .left
            .shortcut
                span.key Right Arrow
        |  → Show next issue

    h2 Markdown editor
    .section
        .entry
            .left
                .shortcut
                    span.key Ctrl
                    | &nbsp; + &nbsp;
                    span.key B
            |  → Bold
        .entry
            .left
                .shortcut
                    span.key Ctrl
                    | &nbsp; + &nbsp;
                    span.key I
            |  → Italic
        .entry
            .left
                .shortcut
                    span.key Ctrl
                    | &nbsp; + &nbsp;
                    span.key H
            |  → Heading
        .entry
            .left
                .shortcut
                    span.key Ctrl
                    | &nbsp; + &nbsp;
                    span.key L
            |  → Hyperlink
    .section
        .entry
            .left
                .shortcut
                    span.key Ctrl
                    | &nbsp; + &nbsp;
                    span.key U
            |  → Unordered (bulleted) list
        .entry
            .left
                .shortcut
                    span.key Ctrl
                    | &nbsp; + &nbsp;
                    span.key O
            |  → Ordered (numbered) list
        .entry
            .left
                .shortcut
                    span.key Ctrl
                    | &nbsp; + &nbsp;
                    span.key R
            |  → Horizontal line
        .entry
            .left
                .shortcut
                    span.key Ctrl
                    | &nbsp; + &nbsp;
                    span.key Q
            |  → Quote
        .entry
            .left
                .shortcut
                    span.key Ctrl
                    | &nbsp; + &nbsp;
                    span.key K
            |  → Code


script#shared-workspace-help(type='text/template')
    .info
        p You are now using a workspace created and shared by another user. You can work as if the workspace was created by yourself but only the owner will be able to change its configuration.
        p
            strong Use the pin button <i class="fa fa-thumb-tack pin-workspace"></i> to save the workspace and easily access it in future.